/target/

# Eclipse Specific
.classpath
.project
.settings/
.idea
*.iml
.sts4-cache
annot8-components-basic/target
annot8-resources-monitor/target
annot8-components-base/target
annot8-components-files/target
